.tab {
  width: 500px;
}

.tab-nav {
  display: flex;
}

.tab-nav-item {
  margin: 2px;
  padding: 10px 20px;
  background-color: #ccc;
  color: #000;
  text-decoration-style: none;
  border-radius: 5px 5px 0 0;
}

.tab-nav-item.is-active {
  background-color: #000;
  color: #fff;
}

.tab-contents {
  border: 1px solid #ccc;
  padding: 10px;
}

.tab-contents-item {
  display: none;
}